In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import FunctionTransformer

# Improve this next time
# Create a directory for datasets

def get_data(data_link):
    data = pd.read_csv(data_link)
    return data

train_data = get_data('https://raw.githubusercontent.com/wyx-smrf/Windows-Misc/main/Titanic%20Project/train.csv')
test_data = get_data('https://raw.githubusercontent.com/wyx-smrf/Windows-Misc/main/Titanic%20Project/test.csv')

In [2]:
def impute_central_tendency(dataframe, column):
    central_tendency = ["mean", "median", "mode"]
    impute_df = pd.DataFrame()
    impute_column = dataframe[column]
    
    # Impute null values using cental tendency
    for stat in central_tendency:
        if stat == "mode":
            impute_df[stat] = eval(f"impute_column.fillna(value=impute_column.mode()[0])")
        else:
            impute_df[stat] = eval(f"impute_column.fillna(value=impute_column.{stat}())")
    
    # Round all answers to nearest integer
    round_impute = impute_df.round(0).astype(int)
    
    return round_impute

In [3]:
ct_df = impute_central_tendency(train_data, 'Age')
ct_df.head()

   mean  median  mode
0    22      22    22
1    38      38    38
2    26      26    26
3    35      35    35
4    35      35    35

In [4]:
def skew(dataframe):
    
    # Create a dataframe with index names
    df = pd.DataFrame(index=['mean', 'median', 'mode'])
    
    # Columns to the dataframe
    df['raw_skew'] = [dataframe[i].skew() for i in dataframe.columns]
    df['log_skew'] = [dataframe[i].apply(np.log).skew() for i in dataframe.columns]
    df['sqrt_skew'] = [dataframe[i].apply(np.sqrt).skew() for i in dataframe.columns]
    df['cbrt_skew'] = [dataframe[i].apply(np.cbrt).skew() for i in dataframe.columns]
    df['log1p_skew'] = [dataframe[i].apply(np.log1p).skew() for i in dataframe.columns]
    
    return df
    
# Argument must be a dataframe that contains mean, median and mode as the columns

In [5]:
skew(ct_df)

        raw_skew  log_skew  sqrt_skew  cbrt_skew  log1p_skew
mean    0.422075       NaN  -0.839700  -1.431735   -2.216744
median  0.511731       NaN  -0.762697  -1.370104   -2.180471
mode    0.659261       NaN  -0.578792  -1.198987   -2.050201