In [16]:
np.triu([[1,2,3],[4,5,6],[7,8,9]], k=1)

array([[0, 2, 3],
       [0, 0, 6],
       [0, 0, 0]])

In [6]:
np.triu(np.ones(corr_mat.shape), k=1)

array([[0., 1., 1., 1., 1.],
       [0., 0., 1., 1., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.]])

In [22]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [27]:
sorted_correlation_params = {'data': df, 
                             'target': 'species', 
                             'correl_method': 'pearson'}

def sorted_correlation(data, target, correl_method):
                             
    # Convert categorical values to numeric
    le = LabelEncoder()
    data[target] = le.fit_transform(data[target])
  
    # Create correlation matrix
    corr_mat = data.corr(method=correl_method)
  
    # Retain upper triangular values of correlation matrix and
    # make Lower triangular values Null
    upper_corr_mat = corr_mat.where(
        np.triu(np.ones(corr_mat.shape), k=1).astype(bool))
  
    # Convert to 1-D series and drop Null values
    unique_corr_pairs = upper_corr_mat.unstack().dropna()
  
    # Sort correlation pairs
    sorted_mat = unique_corr_pairs.sort_values()

    return sorted_mat

sorted_correlation(**sorted_correlation_params)

petal_length  sepal_width    -0.428440
species       sepal_width    -0.426658
petal_width   sepal_width    -0.366126
sepal_width   sepal_length   -0.117570
species       sepal_length    0.782561
petal_width   sepal_length    0.817941
petal_length  sepal_length    0.871754
species       petal_length    0.949035
              petal_width     0.956547
petal_width   petal_length    0.962865
dtype: float64

In [ ]:
def sorted_correlation():
    # Convert categorical values to numeric
    label_encoder = LabelEncoder()
    df['species'] = label_encoder.fit_transform(df['species'])
  
    # Create correlation matrix
    corr_mat = df.corr(method='pearson')
  
    # Retain upper triangular values of correlation matrix and
    # make Lower triangular values Null
    upper_corr_mat = corr_mat.where(
    np.triu(np.ones(corr_mat.shape), k=1).astype(bool))
  
    # Convert to 1-D series and drop Null values
    unique_corr_pairs = upper_corr_mat.unstack().dropna()
  
    # Sort correlation pairs
    sorted_mat = unique_corr_pairs.sort_values()
    print(sorted_mat)

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
  
# Load dataset
df = sns.load_dataset('iris')
  
# Convert categorical values to numeric
label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])
  
# Create correlation matrix
corr_mat = df.corr(method='pearson')
  
# Retain upper triangular values of correlation matrix and
# make Lower triangular values Null
upper_corr_mat = corr_mat.where(
    np.triu(np.ones(corr_mat.shape), k=1).astype(bool))
  
# Convert to 1-D series and drop Null values
unique_corr_pairs = upper_corr_mat.unstack().dropna()
  
# Sort correlation pairs
sorted_mat = unique_corr_pairs.sort_values()
print(sorted_mat)

petal_length  sepal_width    -0.428440
species       sepal_width    -0.426658
petal_width   sepal_width    -0.366126
sepal_width   sepal_length   -0.117570
species       sepal_length    0.782561
petal_width   sepal_length    0.817941
petal_length  sepal_length    0.871754
species       petal_length    0.949035
              petal_width     0.956547
petal_width   petal_length    0.962865
dtype: float64