In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import FunctionTransformer

# Improve this next time
# Create a directory for datasets

def get_data(data_link):
    data = pd.read_csv(data_link)
    return data

train_data = get_data('https://raw.githubusercontent.com/wyx-smrf/Windows-Misc/main/Titanic%20Project/train.csv')
test_data = get_data('https://raw.githubusercontent.com/wyx-smrf/Windows-Misc/main/Titanic%20Project/test.csv')

In [2]:
def impute_central_tendency(dataframe, column):
    central_tendency = ["mean", "median", "mode"]
    impute_df = pd.DataFrame()
    impute_column = dataframe[column]
    
    # Impute null values using cental tendency
    for stat in central_tendency:
        if stat == "mode":
            impute_df[stat] = eval(f"impute_column.fillna(value=impute_column.mode()[0])")
        else:
            impute_df[stat] = eval(f"impute_column.fillna(value=impute_column.{stat}())")
    
    # Round all answers to nearest integer
    round_impute = impute_df.round(0).astype(int)
    
    return round_impute

ct_df = impute_central_tendency(train_data, 'Age')
ct_df.head()

   mean  median  mode
0    22      22    22
1    38      38    38
2    26      26    26
3    35      35    35
4    35      35    35

In [29]:
bobo = [1,2,3,4]

for num in bobo:
    print(str(num))

1
2
3
4

In [107]:
def skew(dataframe):
    
    # Create a dataframe with index names
    df = pd.DataFrame(index=['mean', 'median', 'mode'])
    
    # Columns to the dataframe
    df['raw_skew'] = [dataframe[i].skew() for i in dataframe.columns]
    df['log_skew'] = [dataframe[i].apply(np.log).skew() for i in dataframe.columns]
    df['sqrt_skew'] = [dataframe[i].apply(np.sqrt).skew() for i in dataframe.columns]
    df['cbrt_skew'] = [dataframe[i].apply(np.cbrt).skew() for i in dataframe.columns]
    df['log1p_skew'] = [dataframe[i].apply(np.log1p).skew() for i in dataframe.columns]
    
    return df
    
# Argument must be a dataframe that contains mean, median and mode as the columns

In [108]:
ddf

        raw_skew  log_skew  sqrt_skew  cbrt_skew  log1p_skew
mean    0.422075       NaN  -0.839700  -1.431735   -2.216744
median  0.511731       NaN  -0.762697  -1.370104   -2.180471
mode    0.659261       NaN  -0.578792  -1.198987   -2.050201

In [104]:
ddf.loc[ddf.values > 0].style.highlight_min(color = 'lightgreen', axis=None)

In [102]:
ddf.iloc[2]

raw_skew      0.659261
log_skew           NaN
sqrt_skew    -0.578792
cbrt_skew    -1.198987
log1p_skew   -2.050201
Name: mode, dtype: float64

In [7]:
index_labels=['r1','r2','r3','r4']
df = pd.DataFrame(index=index_labels)
df

Empty DataFrame
Columns: []
Index: [r1, r2, r3, r4]

In [4]:
impute_skew = skew(ct_df)

impute_skew

[-0.8397003239521997, -0.7626966228719249, -0.5787920994533354]

In [5]:
import pandas as pd

params = {'dictionary': impute_skew,
          'colname': 'raw_skew',
          'index_name': ' '} 

def dict_to_dataframe(dictionary, colname, index_name):
  dict_data = pd.Series(dictionary, name=colname)
  dict_data.index.name = index_name
  return pd.DataFrame(dict_data)

df = dict_to_dataframe(**params)
df

   raw_skew

0 -0.839700
1 -0.762697
2 -0.578792

In [6]:
import pandas as pd

params = {'dictionary': new,
          'colname': 'I_skew',
          'index_name': ' '} 

def dict_to_dataframe(dictionary, colname, index_name):
  dict_data = pd.Series(dictionary, name=colname)
  dict_data.index.name = index_name
  return pd.DataFrame(dict_data)

df = dict_to_dataframe(**params)

NameError: name 'new' is not defined

In [ ]:
impute.info()

In [ ]:
impute