In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})

In [7]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [9]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [8]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

---

In [16]:
df4 = pd.DataFrame({'HELLO': ['a', 'b', 'a', 'd'], 'NAME': ['b', 'a', 'c', 'd'],
                   'ID': [1, 2, 3, 4]})

In [17]:
df4

  HELLO NAME  ID
0     a    b   1
1     b    a   2
2     a    c   3
3     d    d   4

In [18]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1

In [19]:
pd.get_dummies(df4)

   ID  HELLO_a  HELLO_b  HELLO_d  NAME_a  NAME_b  NAME_c  NAME_d
0   1        1        0        0       0       1       0       0
1   2        0        1        0       1       0       0       0
2   3        1        0        0       0       0       1       0
3   4        0        0        1       0       0       0       1